.navBar {
  position: fixed;
  height: 100vh;
  width: 14rem;
  padding: 10px;
  & nav {
    background-color: #ededed;
    height: 100%;
    border-radius: 2rem;
    padding: 1rem;
  }
  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;

    & a {
      display: flex;
      align-items: center;
      &:hover {
        background-color: darken(#ededed, 10);
      }
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 100%;
      gap: 4px;
      & i {
        font-size: 2rem;
      }
    }
  }
}
.content {
  position: relative;
  left: 14rem;
  top: 1rem;
}
