.removeBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3%;
  left: 50%;
  width: 40vw;
  height: 20vw;
  padding: 1rem;
  background-color: lighten($gray, 3);
  border: 1px solid red;
  border-radius: 1rem;
  animation: goDown 0.75s both ease-in-out;
  z-index: 5;
  @keyframes goDown {
    0% {
      transform: translate(-50%, -50vw);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
}
