.popUpBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3%;
  left: 50%;
  width: 40vw;
  height: 20vw;
  padding: 1rem;
  background-color: lighten($gray, 3);
  border: 1px solid red;
  border-radius: 1rem;
  z-index: 5;
  &--error {
    animation: goDownAndShake 0.75s both ease-in-out;
  }
  &--remove {
    animation: goDown 0.75s both ease-in-out;
  }
}
@keyframes goDown {
  0% {
    transform: translate(-50%, -50vw);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes goDownAndShake {
  0% {
    transform: translate(-50%, -50vw);
  }
  50% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-55%, 0);
  }
  70% {
    transform: translate(-45%, 0);
  }
  80% {
    transform: translate(-55%, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
