.popUpBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3%;
  left: 50%;
  width: 40vw;
  padding: 1rem;
  background-color: lighten($gray, 3);
  border-radius: 1rem;
  z-index: 5;
  & > button {
    background-color: unset;
    border: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    cursor: pointer;
    font-size: 1.5rem;
  }
  &--error {
    animation: goDownAndShake 0.75s both ease-in-out;
  }
  &--success {
    animation: goDown 0.5s both ease-in-out;
  }
  &--remove {
    animation: goDown 0.5s both ease-in-out;
  }
  &--create {
    width: 30vw;
    display: flex;
    align-items: center;
    animation: goDown 0.5s both ease-in-out;
    background-color: lighten($blue3, 10);
    gap: 1rem;
    & > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      width: 70%;
      & [type="password"],
      input[type="email"],
      input[type="number"],
      input[type="submit"] {
        width: 100%;
        border-radius: 0.5rem;
      }
      & .signupForm__names {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        & p {
          width: 50%;
        }
        & input {
          border-radius: 0.5rem;
        }
      }
    }
  }
}
@keyframes goDown {
  0% {
    transform: translate(-50%, -50vw);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes goDownAndShake {
  0% {
    transform: translate(-50%, -50vw);
  }
  50% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-55%, 0);
  }
  70% {
    transform: translate(-45%, 0);
  }
  80% {
    transform: translate(-55%, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
