.table {
  width: 70vw;
  padding: 1rem;
  border-collapse: collapse;
  margin-top: 1rem;
  & th {
    border-bottom: 1px solid #ededed;
    word-wrap: break-all;
    text-align: left;
    &:first-child {
      padding-left: 4px;
    }
  }
  td:first-child {
    padding-left: 4px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  td:last-child {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  tbody {
    & tr {
      padding: 1rem;
      &:hover {
        outline: 1px solid black;
        border-radius: 0.5rem;
        background-color: lightgrey;
      }
    }
  }
  & td {
    border: none;
    height: 2rem;
    & .ti {
      font-size: 1.5rem;
    }
    & .ti-trash-x,
    .ti-shopping-cart-x {
      color: #e41b50;
    }
    & .ti-edit {
      color: darken(#c6cfe2, 20);
    }
    & .ti-shopping-cart-check {
      color: #50be0e;
    }
  }
}
.btnAdd {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 4px;
  background-color: #c6cfe2;
  width: fit-content;
  & i {
    font-size: 1.5rem;
  }
  &:hover {
    background-color: darken(#ededed, 10);
  }
}
